<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GeoReview</title>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=07ce8f81-4778-4452-b6a8-b99ae4ad1522&lang=ru_RU" type="text/javascript"></script>
</head>
<body>
  <div class="wrapper">
    {{> "./src/templates/map.hbs" }}
  </div>
</body>
</html>