<div class="popup">
    <div class="popup__reviews-list"></div>
    <form class="form">
        <div class="form__row">
            <input type="text" placeholder="Укажите Ваше имя">
        </div>
        <div class="form__row">
            <input type="text" placeholder="Укажите место">
        </div>
        <div class="form__row">
            <textarea rows="5" placeholder="Оставьте отзыв"></textarea>
        </div>
        <div class="form__btn">
            <button type="submit" value="submit" class="btn">Добавить</button>
        </div>
    </form>
</div>